<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Guia de Perguntas e Respostas</title>
</head>
<body>
    <h1>Guia de Perguntas e Respostas</h1>
    <hr>
    <h2>Lista de perguntas</h2>

    <p>Nome: <%= nome %></p><br>
    <p>Linguagem favorita: <%= linguagem %></p>

    <% if(msg) { %>
        <h2>O bloco é verdadeiro</h2>
    <% } %>

    <% produtos.forEach(function(produto) { %>
        <hr>
        <%= produto.nome %>
        <%= produto.preco %>
    <% }) %>

    <img src="/img/nodejs.svg" alt="Nodejs">

</body>
</html>