<%- include('includes/head') %>
<body>
    <%- include('includes/navbar') %>
    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h2>Realizar pergunta</h2>
                <hr>
            </div>

            <div class="card-body">
                <form method="POST" action="/salvarpergunta">
                    <label>Título</label>
                    <input type="text" placeholder="Título da pergunta" class="form-control" name="titulo">
                    <br>
                    <label>Pergunta</label>
                    <textarea placeholder="Sua pergunta" class="form-control" name="descricao"></textarea>
                    <br>
                    <button type="submit" class="btn btn-primary">Enviar pergunta</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('includes/footer') %>